<div class="container myself">
  <div class="image-container">
    <img src="assets/images/zsuzsi.jpg" height="300px">
  </div>
  <h2>Bemutatkozás</h2>
  <div class="jumbotron">
    <p class="lead">Amióta az eszemet tudom a sport az életem része.</p>
    <p class="training-extra-info">
      Hálás vagyok a szüleimnek, hogy rengeteg sportban tehettem próbára magam az életem során. Kisgyermekkoromban versenyszerűen tornáztam, majd később a DVTK kosárlabda csapat utánpótlásában is edzettem, illetve versenyszerűen atletizáltam. Középiskolában a futsal szerelmese lettem, mely a főiskolán bontakozott ki igazán, ahol NB1-es csapatban focizhattam kb. másfél éven keresztül. Sajnos a gyermekeim születésekor alábbhagytam az aktív sporttal, de sosem tudtam teljesen elszakadni tőle.
    </p>
  </div>

  <div class="jumbotron">
    <p class="lead">Prevenció-rehabilitáció</p>
    <p class="training-extra-info">
      Minden itt kezdődött…<br/>
      Szerencsésnek érzem magam, hogy gyermekkoromban volt lehetőségem sokat mozogni, sportolni, aminek így felnőtt fejjel, 2 gyermek anyukájaként nagy hasznát élvezem. A gyermekeim születése után gyógymasszőrként tevékenykedtem több, mint 10 évig, és volt alkalmam szembesülni azzal, hogy az emberek nagy része, nem olyan szerencsés, mint én. Az ülő, és nem mozgó életmódnak köszönhetően rengetegen küzdenek ízületi, izom és egyéb mozgásszervi problémákkal. Nagyon jó érzés volt részt venni a felépülésükben, de mindig is éreztem, hogy a masszázson kívül többet szeretnék hozzátenni a gyógyulásukhoz.
    </p>
  </div>

  <div class="jumbotron">
    <p class="lead">Tanulmányaim</p>
    <p class="training-extra-info">
      Tudtam, hogy a mozgásnak mekkora jelentősége van a rehabilitációban is, így egy 2 éves fitness-wellness instruktor képzésen vettem részt, ami alapját képezte a későbbi tanulmányaimnak. Először funkcionális tréningeket tartottam, ahol éreztem, hogy tovább kell képeznem magam, hogy a különböző, egyéni problémákat kezelni tudjam a vendégeim körében. Így jutottam el a Balance Medical Fitness Akadémiának a Funkcionális Fascia tréning továbbképzésére, amely fenekestől forgatta fel mindazt, amit addig tanultam, de e miatt csak hálás tudok lenni. Nem sokkal később az Almásy Mozgásakadémián is találtam egy nagyon szuper pre- és rehabilitációs képzést, a Triplex tréninget. Ennek előfeltétele volt a gerinctréneri végzettség, és a core-stabilizációs képzésen való részvétel, így egy kalap alatt, viszonylag rövid időn belül 3 legyet ütöttem egy csapásra.
      Hihetetlenül szerencsésnek érzem magam, hogy ilyen jó helyekre kerültem a tanulmányaim során! Hálás vagyok az oktatóimnak, hiszen nekik köszönhetem, hogy a korábban tanultakat, hatalmas mennyiségű információval, tudáshalmazzal kiegészítve magasabb szintre emelték. És itt még nincsen vége a tanulmányoknak, folyamatosan igyekszek követni a legújabb kutatások eredményei által kidolgozott módszereket, hogy a legjobbakat tudjam nyújtani a vendégjeimnek.
    </p>
  </div>

  <div class="jumbotron">
    <p class="lead">Célom</p>
    <p class="training-extra-info">
      Röviden tömören a segítség nyújtás.
    </p>
  </div>
</div>
