.image-container {
  text-align: center;
}
.myself {
  text-align: center;
  .jumbotron {
    padding: 0 0;
    p.lead {
      font-size: 1.4rem;
      padding-top: 1rem;
      font-weight: bold;
    }
  }
}
