<div style="width: 80%; margin-left: 10%;">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <button
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Előző
        </button>
        <button
          class="btn btn-primary"
          [disabled]="isToday"
          mwlCalendarToday
          (viewDateChange)="setToday()"
          [(viewDate)]="viewDate"
        >
          Ma
        </button>
        <button
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Következő
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <button
          class="btn btn-primary"
          [disabled]="view === CalendarView.Month"
          (click)="setView(CalendarView.Month)"
        >
          Hónap
        </button>
        <button
          class="btn btn-primary"
          [disabled]="view === CalendarView.Week"
          (click)="setView(CalendarView.Week)"
        >
          Hét
        </button>
        <button
          class="btn btn-primary"
          [disabled]="view === CalendarView.Day"
          (click)="setView(CalendarView.Day)"
        >
          Nap
        </button>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      [locale]="locale"
      [weekStartsOn]="weekStartsOn"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="selectEvent($event.event)"
      (beforeViewRender)="updateCalendarEvents($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [weekStartsOn]="weekStartsOn"
      [dayStartHour]="8"
      (eventClicked)="selectEvent($event.event)"
      (beforeViewRender)="updateCalendarEvents($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [dayStartHour]="8"
      (eventClicked)="selectEvent($event.event)"
      (beforeViewRender)="updateCalendarEvents($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header bg-success">
    <h5 class="modal-title">{{ selectedEvent.title }}</h5>
    <button type="button" class="btn btn-primary" (click)="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{ selectedEvent.meta.address.name }}<br/>
      {{ selectedEvent.meta.address.place}}
    </p>
    <p>
      {{ selectedEvent.meta.description }}<br/>
    </p>
    <p>
      Résztvevők:
    </p>
    <ul *ngIf="trainingEvent">
      <li *ngFor="let member of trainingEvent.members">{{ member.name }}</li>
    </ul>
    <p>
      <button *ngIf="isAdmin && selectedEvent.cssClass === 'disabled'" class="btn btn-primary" (click)="reactivateEvent()">Reaktivál</button>
      <button *ngIf="isAdmin && selectedEvent.cssClass !== 'disabled'"  class="btn btn-primary" (click)="inactivateEvent()">Inaktivál</button>
      <button *ngIf="!hasMembership" class="btn btn-primary" (click)="addMyselfToEvent()">Jelentkezés</button>
      <button *ngIf="hasMembership" class="btn btn-primary" (click)="removeMyselfFromEvent()">Leiratkozás</button>
    </p>
  </div>
  <div class="modal-footer bg-success">
    <button type="button" class="btn btn-primary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
