<div class="container">
  <div class="row trainings">
    <div class="col-6">
      <div class="card">
        <a routerLink="/triplex-training">
          <img src="assets/images/triplex.jpg" class="card-img-top">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <a routerLink="/bonfit-training">
          <img src="assets/images/bonfit-training.jpg" class="card-img-top">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <a routerLink="/triplex-office">
          <img src="assets/images/triplex-office.png" class="card-img-top">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <a routerLink="/triplex-mobility">
          <img src="assets/images/triplex-mobility.jpg" class="card-img-top">
        </a>
      </div>
    </div>
  </div>
</div>
