<div class="container">
  <div class="row trainings">
    <div class="col-4">
      <div class="card">
        <img src="assets/images/bonfit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bonfit Training</h5>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="assets/images/bonfit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Triplex Tréning</h5>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="assets/images/bonfit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gerinc Tréning</h5>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="assets/images/bonfit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Triplex Mobility</h5>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="assets/images/bonfit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Triplex Office</h5>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="assets/images/bonfit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Core Stabilizáció</h5>
        </div>
      </div>
    </div>
  </div>
</div>
