<div class="container myself">

  <h2>TripleX Mobility®</h2>

  <div class="jumbotron">
    <p class="lead"></p>
    <p class="training-extra-info">
      A TripleX Mobility® csoportos órákon mobilizációs gyakorlatokkal a mozgásrendszer rugalmasságát szeretnénk újra
      elérni. Ez az óra a TripleX tréning ® első lépcsőjének mozgásgyakorlataival, kifejezetten a beszűkült ízületi
      mozgástartomány növelését célozza meg.<br/>
      A 60 perces óra keretein belül mindenki számára könnyen elsajátítható, és kivitelezhető mobilizációs és sztercsing
      gyakorlatokkal, SMR hengerezéssel szabadítjuk fel a váll, csípő, gerinc ízületeit a gátlás alól, ennek
      köszönhetően a mindennapi mozgásaink is könnyedebbé válnak.<br/>
      A csoportos edzéseken sokszor tapasztalható, hogy egyes gyakorlatok kivitelezése a beszűkült ízületi mozgások
      miatt nehézséget jelentenek a vendégek számára.
      Ebben az esetben javasolt részt venni a Triplex Mobility tréningen - az ízület állapotától függően - pár
      alkalommal, hogy a beszűkült ízületek normál mozgástartományát visszaállítva csökkentsük a sérülés kockázatát
      sportolás közben.<br/>
      Egyes esetekben szükséges lehet a TripleX tréning további két lépcsőjének (a stabilizációs tréning és a
      mozgásminták visszaintegrálása az edzésbe) az elsajátítása is. Erről részletesen a Triplex tréning fülön
      olvashattok.
    </p>
  </div>
</div>
