<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary  sticky-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <span class="main-header">BonfitTraining</span><br/>
      <span class="sub-header">Csoportos funkcionális edzés</span>
    </a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      Menü
      <i class="fa fa-bars"></i>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/myself">Bemutatkozás</a>
        </li>
        <li class="nav-item" #trainingDrop="ngbDropdown" ngbDropdown>
          <a class="nav-link" routerLink="/trainings" ngbDropdownToggle  id="trainingMenu" role="button"
             (mouseover)="$event.stopPropagation();trainingDrop.open()">Tréningek</a>
          <div ngbDropdownMenu aria-labelledby="trainingMenu" class="dropdown-menu" (mouseleave)="$event.stopPropagation();trainingDrop.close()">
            <a ngbDropdownItem routerLink="/triplex-training">Triplex Training</a>
            <a ngbDropdownItem routerLink="/bonfit-training">Bonfit Training</a>
            <a ngbDropdownItem routerLink="/triplex-office">Triplex Office</a>
            <a ngbDropdownItem routerLink="/triplex-mobility">Triplex Mobility</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calendar">Órarend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Információ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
