<div class="container">
  <div class="row">
    <div class="col-6">
      <ngb-accordion [closeOthers]="true" activeIds="food">
        <ngb-panel id="food" title="Táplálkozás">
          <ng-template ngbPanelContent>
            <ul>
              <li><a>Táplálkozás blog 1</a></li>
              <li><a>Táplálkozás blog 2</a></li>
              <li><a>Táplálkozás blog 3</a></li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="health" title="Egészség">
          <ng-template ngbPanelContent>
            <ul>
              <li><a>Egészség blog 1</a></li>
              <li><a>Egészség blog 2</a></li>
              <li><a>Egészség blog 3</a></li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="sport" title="Sport">
          <ng-template ngbPanelContent>
            <ul>
              <li><a>Sport blog 1</a></li>
              <li><a>Sport blog 2</a></li>
              <li><a>Sport blog 3</a></li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

    <div class="col-6">
      <img src="assets/images/bonfit.jpg" class="card-img-top" alt="...">
    </div>
  </div>
</div>
