<div class="container">
  <div class="image-container float-right">
    <img src="assets/images/zsuzsi.jpg">
  </div>
  <h2>Bemutatkozás</h2>
  <div class="jumbotron">
    <h4>BonfitTraining - Funkcionális edzés</h4>
    <p class="lead">Manapság sokszor halljuk, olvassuk azt a szót, hogy funkcionális edzés, de elég kevesen tudnának válaszolni arra, hogy mit is takar valójában. </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Tovább</a>
    <p class="training-extra-info">Sokunknak csak egy divatos kifejezést jelent, de ennél sokkal több áll a háttérben. A funkció szó jelentése működés, rendeltetés, így következtethetünk arra, hogy a tréning megtanít bennünket testünk „rendeltetésszerű” használatára.
      A funkcionális tréning lehetőséget ad arra, hogy a természet adta, és az evolúció által kialakult mozgásunkat tökélyre fejlesszük, illetve a rosszul berögzült mozgásmintáinkat újra programozza.
      Egyik alapvető szemlélete, hogy az emberi testet egy egészként kezeli. Célja, hogy összetettebb, komplexebb gyakorlatokkal egyszerre mindig több izomcsoportot dolgoztasson meg. Mozgásanyagát a mindennapi élet során elõforduló természetes mozgások, azaz támaszok, guggolások, emelések, húzó és toló mozgások variációi képezik elsősorban. Pl. Hason fekvésből a fekvőtámaszhoz hasonló mozdulattal kelünk fel, vagy egy nehezebb tárgyat úgy veszünk fel a földről, mintha Deadlift-et, azaz elemelést csinálnánk, és persze a guggolás is a mindennapjaink része. A gyakorlatok nagyon sokfélék, sőt, összetett variációik is léteznek. A mozgásban részt vesznek a tartó, a stabilizáláshoz szükséges izmok, azaz a mélyhátizmok, a hasizmok, és a gyakorlat típusának megfelelően a mozgató izomcsoportok.
    </p>
  </div>

  <div class="jumbotron">
    <h4>Mivel nyújt neked többet a BonfitTraining?</h4>
    <p class="lead">Blabla</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Tovább</a>
  </div>

  <div class="jumbotron">
    <h4>Valami ide is</h4>
    <p class="lead">Blabla </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Tovább</a>
  </div>
 </div>
