<div class="container myself">
  <h2>Bonfit Training</h2>
  <div class="jumbotron">
    <p class="lead">Funkcionális edzés</p>
    <p class="training-extra-info">
      Manapság sokszor halljuk, olvassuk azt a szót, hogy funkcionális edzés, de elég kevesen tudnának válaszolni arra,
      hogy mit is takar valójában. Sokunknak csak egy divatos kifejezést jelent, de ennél sokkal több áll a háttérben. A
      funkció szó jelentése működés, rendeltetés, így következtethetünk arra, hogy a tréning megtanít bennünket testünk
      „rendeltetésszerű” használatára.
      A funkcionális tréning lehetőséget ad arra, hogy a természet adta, és az evolúció által kialakult mozgásunkat
      tökélyre fejlessze, illetve a rosszul berögzült mozgásmintáinkat újra programozza.
    </p>
  </div>

  <div class="jumbotron">
    <p class="lead">Mi is az a mozgásminta?</p>
    <p class="training-extra-info">
      Egyik alapvető szemlélete, hogy az emberi testet egy egészként kezeli. Célja, hogy összetettebb, komplexebb
      gyakorlatokkal egyszerre mindig több izomcsoportot, dolgoztasson meg. Mozgásanyagát a mindennapi élet során
      elõforduló természetes mozgások, azaz támaszok, cipelés, guggolások, emelések, húzó és toló mozgások variációi
      képezik elsősorban. Pl. Hason fekvésből a fekvőtámaszhoz hasonló mozdulattal kelünk fel, vagy egy nehezebb tárgyat
      úgy veszünk fel a földről, mintha Deadlift-et, azaz elemelést csinálnánk, és persze a guggolás is a mindennapjaink
      része. A gyakorlatok nagyon sokfélék, sőt, összetett variációik is léteznek.
    </p>
  </div>

  <div class="jumbotron">
    <p class="lead">Milyen hatással van szervezetünkre a tréning?</p>
    <p class="training-extra-info">
      A BonfitTraining komolyan igénybe veszi a keringési rendszert, így javul az állóképesség. Az edzés felépítésének
      köszönhetően fejlődik a koordináció és a stabilitás, javul a kondíció, az izomerő és az erőállóképesség rohamosan
      fejlődik, az ízületek mozgástartománya egyre nagyobb lesz, És mindezek mellett aktívan játszik szerepet az izom és
      a test formálásában is!
    </p>
  </div>

  <div class="jumbotron">
    <p class="lead">Mire számíthatsz az edzésen?</p>
    <p class="training-extra-info">
      Az edzések többnyire saját testsúlyos gyakorlatokra épülnek változatos eszközhasználattal kombinálva. Ezek a TRX,
      Bosu, Fitt ball, Kettlebell, súlyzók, Gumikötelek, szalagok, Rope kötél, Plyobox, stb. Nincsen két egyforma edzés.
      Nagy hangsúlyt fektetek a prevencióra, ezen belül az ízületek és a gerinc védelmére. Így minden edzésen
      találkozhatsz a mobilizációval és a core-stabilizációval, illetve az erősítő blokk mellett a sztrecsing is minden
      edzés végén jelen van.
    </p>
  </div>

  <div class="jumbotron">
    <p class="lead">Mivel nyújt neked többet a BonfitTraining?</p>
    <ul class="training-extra-info">
      <li>Kiscsoportos foglalkozás, ahol mindenki megkapja a megfelelő figyelmet és szakmai támogatást.</li>
      <li>Preventív szemléletű, nem a mennyiségre, hanem a minőségre fókuszál.</li>
      <li>Csoportos, de azon belül mégis egyénre szabott.</li>
      <li>A megfelelő és egészséges fejlődés érdekében egymásra épülnek az edzések (kezdő, középhaladó és haladó csoportok)</li>
      <li>Családias hangulat</li>
    </ul>
  </div>
</div>

