<div class="container">
  <h2>TripleX tréning</h2>
  <div class="image-container">
    <img src="assets/images/triplex-training-start.jpg" height="300px">
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="jumbotron">
        <p class="lead">FÁJ A DEREKAD?</p>
        <ul>
          <li>reggeli felkelés</li>
          <li>irodában/ kocsiban ülés</li>
          <li> sorban állás</li>
          <li>nehéz dolgok emelése</li>
          <li> tüsszentés</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="jumbotron">
        <p class="lead">HALLOTTAD MÁR?</p>
        <p class="training-extra-info">
          „Tanuljon meg együtt élni a fájdalommal.”<br/>
          „Önnek nincs semmi baja, pszichológusra van szüksége.”
        </p>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <p class="lead">FELEJTSD EL A DERÉKFÁJÁST!</p>
    <p class="training-extra-info">
      Legyen újra fájdalommentes gerinced és szabad mozgásod!
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="jumbotron">
        <img src="assets/images/pipa-100x100.png"/>
        <p class="lead">A reggeli szenvedés a múlté!</p>
        <p class="training-extra-info">
          Nem úgy kelsz ki az ágyból, mint akin átment az úthenger!
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="jumbotron">
        <img src="assets/images/pipa-100x100.png"/>
        <p class="lead">Nem gond többé a hosszú gyaloglás, sorban állás!</p>
        <p class="training-extra-info">
          Jöhet a többórás városnézés, bevásárlás!
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="jumbotron">
        <img src="assets/images/pipa-100x100.png"/>
        <p class="lead">Bátran utazhatsz akár több száz km-t!</p>
        <p class="training-extra-info">
          Autóban, buszon, repülőn sem lesz probléma sokat ülni.
        </p>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <p class="lead">MINŐSÉGI MOZGÁS = EGÉSZSÉGES GERINC!
    </p>
    <p class="training-extra-info">
      A TripleX Training® 3 lépcsős programja az alapoktól
      építi fel újra a helyes mozgásmintákat.
    </p>
  </div>
  <div class="jumbotron">
    <img src="assets/images/1-100x100.png"/>
    <p class="lead">A gerinc működését, stabilitását befolyásoló ízületek, területek mobilizálása</p>
    <p class="training-extra-info">
      Ha egy ízület nem kellőképpen mobil, egy másik ízület vagy éppen a gerinc próbálja a kieső mobilitást pótolni.
      Ez a kompenzáló mozgás észrevétlenül írja át az idegrendszerben a helyes mozgásmintákat. A téves minták pedig,
      mint egy nem megfelelően elhelyezett alkatrész egy gépben, előbb-utóbb károsítják az ízületeket, többek között
      a gerinc ízületeit is, ami már egyenes út a fájdalomhoz.
    </p>
  </div>
  <div class="jumbotron">
    <img src="assets/images/2-100x100.png"/>
    <p class="lead">A lumbális (ágyéki) gerinc stabilizációja</p>
    <p class="training-extra-info">
      A derék és medence körüli izomzat feladata, hogy a mindennapi és sportmozgásaink során csakúgy, mint a
      váratlan helyzetekben stabilan tartsák a törzset, a csigolyák nemkívánatos elmozdulásainak megakadályozására.
      A tréning ezen részének a célja nem az izmok erősítése, hanem az idegrendszeri szabályozás újraprogramozása. A
      mozgásos „szoftver” újratervezésével biztosítjuk, hogy gerincünk biztonságban legyen minden pillanatban.
    </p>
  </div>
  <div class="jumbotron">
    <img src="assets/images/3-100x100.png"/>
    <p class="lead">3. A helyes mozgásminták (újra) tanítása</p>
    <p class="training-extra-info">
      Ha minden terület felszabadult a gátlás alól és a stabilitás is teljes, indulhat a helyes mozgásminták
      kialakítása és begyakorlása. Ezek a mindennapi életből vett minták „tornatermi” változatai, mellyel
      felkészítjük a testet arra, hogy a jövőben már minden egyes mozdulatunk gerincbarát és egészséges legyen,
      fájdalommentes, teljes életet élhessünk.
    </p>
  </div>
</div>
